.social-container {
    display: flex;
    background: #eee;
    padding: 25px 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.social-bg {
    width: 24px;
    height: 100%;
    background-color: #03a062;
    position: absolute;
    margin-left: -99%;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social {
    color: #333;
}

a.social:hover {
    transform: translateY(-2px);
    color: #03a062;
}

@media screen and (max-width: 480px) {
    .social-bg {
        margin-left: -96%;
    }
    h3 {
        display: none;
    }
}


/*  */